.contact-form .contact{
    font-weight:bold;
    margin-bottom:1rem;
   
    
}

.contact-form .inputs{
    display:flex;
    gap:0.5rem;
    height:4rem;
    justify-content: center;
    
    
}



/* Texten i rutan */
.contact-form input{
    padding-left:0.5rem;
}



.contact-form #comment {
    height:100%;
    width:100%;
    margin-top:2rem;
    
    padding-left:0.5rem;
    resize: none;

}





.contact-form .theme-button{
    margin-top:2rem;
}

.contact-form  .errorMessage {
    color:var(--color-theme);
    
}







.validFailName{
    border:1px solid var(--color-theme)
}


.validFailEmail{
    border:1px solid var(--color-theme)
}

